Flask==0.10.1
Flask-BasicAuth==0.2.0
#Flask-PyBankID==0.1.0
-e git://github.com/magandrez/flask-pybankid@cert_handling#egg=flask-pybankid
pybankid==0.3.1
Jinja2==2.8
MarkupSafe==0.23
Werkzeug==0.11.3
gunicorn==19.4.5
itsdangerous==0.24
requests==2.9.1
six==1.10.0
suds-jurko==0.6
wheel==0.24.0
wsgiref==0.1.2
